<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.successfully_completed? %>
  <p>
    <%= t('.correct_answers') %> <span class="green"><%= @test_passage.test_success %>%</span>. <%= t('.test_success') %>
  </p>
<% else %>
  <p>
    <%= t('.correct_answers') %>  <span class="red"><%= @test_passage.test_success %>%</span>. <%= t('.test_fail') %>
  </p>
<% end %>

<%= link_to t('.test_list'), tests_path %>
