<h1><%= t('.header') %></h1>

<div class="table-responsive">
  <div class="col col-md-10">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th><%= t('.title_test') %></th>
          <th><%= t('.level') %></th>
          <th><%= t('.quantity') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @tests %>
      </tbody>
    </table>
  <div class="col col-md-10">
</div>
