<h1><%= t('.header') %></h1>

<div class="table-responsive">
  <div class="col col-md-10">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="sort-by-title pointer">
            <%= t('.title_test') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th><%= t('.level') %></th>
          <th><%= t('.quantity') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @tests %>
      </tbody>
    </table>
  </div>
</div>
